.container {
  padding: 6vh 15vw 12.6vh 7vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
}
