.container {
  padding: 10rem 6.25rem 11rem 6.25rem;
}

.title {
  font-style: normal;
  font-size: 2.6rem;
  color: var(--secondary);
  margin-bottom: 5rem;
  margin-top: 0;
}

.listCont {
  display: grid;
  grid-gap: 5.2vh 2.7vw;
  grid-template-columns: repeat(3, 1fr);
}

.productLink {
  text-decoration: none;
}

.link {
  display: grid;
  text-decoration: none;
  cursor: default;
}

@media (max-width: 850px) {
  .listCont {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .listCont {
    grid-template-columns: repeat(1, 1fr);
  }
}
